<% title "About - License My Project" %>

<div class="row">
  <div class="span8">
    <h2>About LicenseMyProject</h2>
    <p>
      After working on many open source projects, I got to a point where it was a good idea to include a license
      for several of them. Some companies can take a very long time to read through non-standard licenses before
      making a decision if the development staff can use it or not. Why not just add a license that you approve
      of very quickly. That's where this site can help.
    </p>
    <p>
      Choose the license that is best for you and apply it to your <a href="https://github.com">GitHub</a> repository
      quickly and easily. Choose the license, tell us where it's located and voila, you'll get a pull request! It
      couldn't be easier or more painless.
    </p>
    <div class="row pagination-centered">
      <span class="btn btn-large"><%= link_to "Get Started Now!", "/add-license" %></span>
    </div>
  </div>
  <div class="span4">
    <h5>Requirements</h5>
    <ul>
      <li>Your project must be a public GitHub repo</li>
      <li>The pull request will be sent only to 'master'</li>
    </ul>
  </div>
</div>