<% title "Add License - License My Project" %>

<div class="row">
  <div class="span8">
    <h2>Add a License to Your Project</h2>
    <div class="alert-block text-error">
      Oh no! The ability to add a license is currently unavailable. :(
    </div>
  </div>
</div>
