<% title "FAQs - License My Project" %>

<div class="row">
  <div class="span8">
    <h2>Frequently Asked Questions</h2>
    <div class="alert-block text-info">
      Either things are going great or this project is just too new. No questions have been asked enough to warrant a
      permanent place here.
    </div>
  </div>
</div>
