<div class="row">
  <div class="span8">
    <h3>How Does This Work?</h3>
    <p>
      Not sure which license you should apply to your project? Select the best option from a list, point us to
      your repository on GitHub and we'll send you a pull request! It's that easy.
    </p>
    <h4>Getting Started</h4>
    <ol>
      <li>Choose the license that fits your project. <%= link_to "Browse current and popular licenses", "licenses" %>.</li>
      <li>Once you know which fits your situation best, head on over to <%= link_to "'Add a License'", "add-license" %>.</li>
      <li>After you fill out some information about your source code, make sure you're logged into GitHub and accept the pull request!</li>
    </ol>
  </div>
  <div class="span4">
    <h5>Why Use It?</h5>
    <ul>
      <li>It's fast! You don't even need to have your repo in front of you.</li>
      <li>You supply the easy stuff, we'll fill in the blanks.</li>
    </ul>
  </div>
</div>
