<% title "License List - License My Project" %>

<div class="row">
  <div class="span8">
    <h2>The List of Licenses</h2>
    <p>
      By no means is this list complete. It shall be forever growing, changing and evolving. You may see the list
      fairly limited at first, but feel free to submit ideas or suggestions for new licenses or requirements that
      a project may have, that doesn't fit a license.
    </p>
    <dl>
      <dt id="apache2"><strong>Apache License, Version 2.0</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/Apache-2.0">http://opensource.org/licenses/Apache-2.0</a></dd>

      <dt id="bsd3"><strong>The BSD 3-Clause License</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/BSD-3-Clause">http://opensource.org/licenses/BSD-3-Clause</a></dd>

      <dt id="bsd2"><strong>The BSD 2-Clause License</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/BSD-2-Clause">http://opensource.org/licenses/BSD-2-Clause</a></dd>

      <dt id="gpl2"><strong>The GNU General Public License (GPL-2.0)</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/gpl-2.0.php">http://opensource.org/licenses/gpl-2.0.php</a></dd>

      <dt id="gpl3"><strong>The GNU General Public License (GPL-3.0)</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/gpl-3.0.html">http://opensource.org/licenses/gpl-3.0.html</a></dd>

      <dt id="lgpl2"><strong>The GNU Lesser General Public License, version 2.1 (LGPL-2.1)</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/lgpl-2.1.php">http://opensource.org/licenses/lgpl-2.1.php</a></dd>

      <dt id="lgpl3"><strong>The GNU Lesser General Public License, version 3.0 (LGPL-3.0)</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/lgpl-3.0.html">http://opensource.org/licenses/lgpl-3.0.html</a></dd>

      <dt id="mit"><strong>The MIT License</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/MIT">http://opensource.org/licenses/MIT</a></dd>

      <dt id="mpl2"><strong>Mozilla Public License 2.0 (MPL-2.0)</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/MPL-2.0">http://opensource.org/licenses/MPL-2.0</a></dd>

      <dt id="cddl1"><strong>Common Development and Distribution License (CDDL-1.0)</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/CDDL-1.0">http://opensource.org/licenses/CDDL-1.0</a></dd>

      <dt id="epl1"><strong>Eclipse Public License 1.0 (EPL-1.0)</strong></dt>
      <dd class="small"><a href="http://opensource.org/licenses/EPL-1.0">http://opensource.org/licenses/EPL-1.0</a></dd>

    </dl>
  </div>
  <div class="span4">
    <h5>Shortcuts</h5>
    <ul>
      <li><a href="#apache2">Apache License, Version 2.0</a></li>
      <li><a href="#bsd3">The BSD 3-Clause License</a></li>
      <li><a href="#bsd2">The BSD 2-Clause License</a></li>
      <li><a href="#gpl2">The GNU General Public License (GPL-2.0)</a></li>
      <li><a href="#gpl3">The GNU General Public License (GPL-3.0)</a></li>
      <li><a href="#lgpl2">The GNU Lesser General Public License, version 2.1 (LGPL-2.1)</a></li>
      <li><a href="#lgpl3">The GNU Lesser General Public License, version 3.0 (LGPL-3.0)</a></li>
      <li><a href="#mit">The MIT License</a></li>
      <li><a href="#mpl2">Mozilla Public License 2.0 (MPL-2.0)</a></li>
      <li><a href="#cddl1">Common Development and Distribution License (CDDL-1.0)</a></li>
      <li><a href="#epl1">Eclipse Public License 1.0 (EPL-1.0)</a></li>
    </ul>
  </div>
</div>

