<% title "Support - License My Project" %>

<div class="row">
  <div class="span8">
    <h2>Having Troubles?</h2>
    <p>
      For now, support is simple. Look through the <%= link_to "frequently asked questions", "faq" %> for your problem/issue/bug/concern.
      If you don't find it there, create an issue on the GitHub repository for this project.
    </p>
    <p><a class="btn btn-small" href="https://github.com/ChrisMissal/licensemyproject/issues">Submit an Issue</a></p>
  </div>
  <div class="span4">
    <h5>Alternate Methods</h5>
    <ul>
      <li>Contact <a href="http://www.twitter.com/ChrisMissal">Chris on Twitter</a></li>
    </ul>
  </div>
</div>
